.link_container{
    @include flex(center, center);
    padding: 25px 0;
    z-index: 1000;
    box-shadow: none;
    background-color: #000;
    position: fixed;
    width: 100%;
    top: $navbar-height;
}
.link{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
}
.link_active{
    composes: link;
    color: $primary-color;

}
.link:hover{
    color: $primary-color;
}
.link:active{
    color: $primary-color;
}
