.SingleBeerPage{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.img{
  height: 353px;
  max-width: 100%;
  object-fit: fill;
}
.name{

}
.code{

}
.composition{

}
.description{

}
.price{

}
.btn{

}
