.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-template-rows: repeat(auto-fill, $product-row-height);
    gap: 30px;
    padding-top: 20px;
    background-color: #000;
    top: $product-list-margin-top;
    position: absolute;
}
