.card {
  text-align: center;
  display: grid;
  grid-template-rows: auto 95px 36px;
  justify-items: center;
}

.img {
  position: relative;
  width: 176px;
  height: 323px;
  display: inline-block;
  cursor: pointer;

  &:hover ~ .name {
    color: $primary-color;
  }
}

.name {
  color: #fff;
  font-size: 24px;
  transition: .3s;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 15px 0;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.price {
  color: #fff;
  font-size: 24px;
  transition: .3s;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
