.navbar {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;

    &_menu{
        //@include flex(space-between, center);
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 0 20px;
    }

    &_link {
        text-decoration: none;
        font-size: 20px;
        transition: .3s;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding: 15px 20px;

        &:hover{
            color:$primary-color;
        }
    }

    &_lang{

    }

    &_links{
        //margin-left: auto;
        justify-self: right;
    }
}

.logo{
    text-decoration: none;
    color: #fff;
    font-size: 33px;
    transition: .3s;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 27px 30px;
    //width: 198px;
    //height: 87px;
    //@include flex(center, center);
    background-color: $primary-color;
}
.btn_language{
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    background: none;
    text-transform: uppercase;
    padding: 15px 20px;
    //margin-right: auto;
    justify-self: left;

    &:hover{
        color:$primary-color;
    }
}

