.basket{
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 30%;
  background-color: red;

  &_wrap{
    width: 299px;
    height: 30%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;

    &_header{

    }

    &_body{

      &_title{

      }

      &_total_price{

      }
    }
    &_btn{

    }
  }

  &_cart{

    &_img{

    }
    &_title{

    }
    &_price{

    }
    &_counter{

    }
    &_del{

    }
  }
}
